<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link href="css/stylesheet.css" rel="stylesheet">
        <script src="JavaScript/script.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>Trinity Innovation Hub</title>
    </head>

    <body class="flex-wrapper">
        <!-- NAVIGATION BAR START -->
        <%- include("nav", {active: "Home"}) %>
        <!-- NAVIGATION BAR END-->
        <!-- PROFILE START -->

        <div class="container">
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8 profile">
                    <h1 class="justify-content-center profileTitle"> Profile </h1><br>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-4">
                            <img src="<%= avatar%>" alt='Profile Picture' class="avatar" >
                            <%if(sessionUsername){%>
                            <form action="/upload" method="post" enctype="multipart/form-data">
                                <div class="container">
                                    <input id="upload" class="custom-file-input" type="file" name="myimage" onchange="form.submit()">
                                    <label class="fileSelect" for="upload">
                                        Update your picture
                                     </label>
                                </div>
                            </form>
                            <% } %>
                            <%if(messages.errorUpload){%>
                            <div class="alert alert-danger">
                                <%=messages.errorUpload%>
                            </div>
                            <% } %>
                            <%if(messages.errorNoFile){%>
                            <div class="alert alert-danger">
                                <%=messages.errorNoFile%>
                            </div>
                            <% } %>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-6">
                            <ul>
                                <li>Username: &#8287 <%= sessionUsername %></li><br>
                                <li>Email:&#8287 <%= email%></li><br>
                                <li>
                                    Existing booking:
                                </li>
                                <%if(booking!=null&&booking.length>0&&booking!=""){%>
                                    <%for(var i=0; i<booking.length; i++){%>
                                        <li><%=booking[i].room_name%></li>
                                    <%}%>
                                <%} else{%>
                                    <p>You have no existing booking</p>
                                <%}%>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
            
                </div>
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h1>Booking table</h1>
                <div>

                </div>
            </div>
        </div>
        
        <!-- PROFILE END -->
        <%- include ("footer")%>
    </body>

</html>
